<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--注解类的方式和XML的方式二选一即可-->
    <!--方法一：注解类方式 @Service public class UserServiceImpl implements UserService{}-->
    <!--方法二：用的XML配置的方式-->
    <!--1. public class UserServiceImpl implements UserService{}-->
    <!--2. spring.xml <bean id="" class=""/>-->
    <!--第一步：扫描注解类-->
    <context:component-scan base-package="com.qf.service.impl"/>
    <!--第二步：声明式事务-->

    <bean id="us" class="com.qf.service.impl.UserServiceimpl"/>

    <bean id="ad" class="com.qf.advice.MyAdvice"/>

    <aop:config>
        <!--定义切点-->
        <!--第一个*表示匹配任何返回值类型-->
        <!--第二个*表示匹配所有方法-->
        <!--(..)匹配任意参数，有参数，多参数，没参数都可以匹配-->
        <aop:pointcut id="pc" expression="execution(* com.qf.service.impl.UserServiceimpl.*(..))"/>

        <aop:aspect  ref="ad">
            <aop:before method="before" pointcut-ref="pc"/>
        </aop:aspect>

    </aop:config>

</beans>